* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  font-family: "Roboto";
}
menu {
  flex-direction: column;
  border: solid 2px #e8ebe4;
  display: flex;

  min-width: 20%;
}
.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.perfil {
  display: flex;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  align-items: center;
}

main {
  flex: 1;
  background-color: #e8ebe4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
}
.todo-main {
  border: 2px solid red;
}

.foto-main {
  width: 40%;
  border: solid 2px magenta;
  justify-self: center;
}

.boton {
  border: 2px solid blue;
  text-align: center;
  height: 130px;
  padding-top: 35px;
}
.texto-boton {
  background-color: blueviolet;
  height: 50px;
  width: 150px;
  color: white;
}
.texto-perfil {
  padding-left: 5%;
}

.iconos {
  padding-left: 30%;
  padding-top: 3%;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}

.texto {
  text-align: center;
  line-height: 1.5;
}

hr {
  border: none;
  height: 1px;
  background: #e8ebe4;
}
