* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  flex-wrap: wrap;
  display: flex;

  min-height: 100vh;
  font-family: "Roboto";
}
menu {
  flex-direction: column;
  border: solid 2px #e8ebe4;
  display: flex;
  justify-content: space-around;
  min-width: 20%;
}
.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.perfil {
  display: flex;
  padding-left: 15px;
  min-height: 35px;
  align-items: center;
}

main {
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #e8ebe4;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 80%;
}
.todo-main {
  justify-content: center;
}

.foto {
  justify-content: center;

  border-radius: 5%;
  align-items: center;
  margin-left: 245px;
  width: 40%;
}

.boton {
  text-align: center;
  height: 130px;
  padding-top: 35px;
}
.texto-boton {
  background-color: blueviolet;
  height: 50px;
  width: 150px;
  color: white;
}
.texto-perfil {
  padding-left: 5%;
}

.iconos {
  padding-left: 30%;
  padding-top: 3%;
}

.texto {
  text-align: center;
  line-height: 1.5;
}

hr {
  border: none;
  height: 1px;
  background: #e8ebe4;
}

.titulomain {
  font-size: 60px;
  text-align: center;
}
